@use "sass:color";

.logo {
    a, p {
        text-decoration: none !important;
        color: white !important;
    }

    &:hover{
        background-color: color.adjust(#7e7e7e, $lightness:1%)
    }
} 